/* Testing */
/****** VIDEO BACKGROUND *******/
/* IE 8 SUPPORT */
.home video {
  display: block; }

/* END IE 8 SUPPORT*/
.home video#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../img/background-placeholder.jpg") no-repeat;
  background-size: cover; }

.home video {
  display: none; }

.mobile-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../img/background-placeholder.jpg") no-repeat;
  background-size: cover; }

.display-mobile {
  display: block; }

.relative {
  position: relative; }

/***********************************************/
body.home, html {
  height: 100%; }

body {
  font-family: "SourceSansPro-Regular", sans-serif; }

.researchers .main {
  background-color: #8ca1ad;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4a5f6c), to(#8ca1ad));
  background: -webkit-linear-gradient(top, #8ca1ad, #4a5f6c);
  background: -moz-linear-gradient(top, #8ca1ad, #4a5f6c);
  background: -ms-linear-gradient(top, #8ca1ad, #4a5f6c);
  background: -o-linear-gradient(top, #8ca1ad, #4a5f6c); }

.consumers .main {
  background-color: #84ae7f;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#346e57), to(#84ae7f));
  background: -webkit-linear-gradient(top, #84ae7f, #346e57);
  background: -moz-linear-gradient(top, #84ae7f, #346e57);
  background: -ms-linear-gradient(top, #84ae7f, #346e57);
  background: -o-linear-gradient(top, #84ae7f, #346e57); }

.blog .main {
  background-color: #e58925;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9a4e00), to(#e58925));
  background: -webkit-linear-gradient(top, #e58925, #9a4e00);
  background: -moz-linear-gradient(top, #e58925, #9a4e00);
  background: -ms-linear-gradient(top, #e58925, #9a4e00);
  background: -o-linear-gradient(top, #e58925, #9a4e00); }

/********* HEADER **********/
header {
  background: black;
  line-height: 60px;
  height: 60px; }

header .main-logo {
  margin: 0;
  color: white; }

header a:link .main-logo,
header a:visited .main-logo {
  font-size: 2.5em;
  font-family: "SourceSansPro-Bold", sans-serif; }

header a:link,
header a:visited,
header a:hover,
header a:active {
  text-decoration: none; }

/***** NAVIGATION *****/
.hor_nav ul {
  margin: 0;
  padding: 0;
  float: right; }

.hor_nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
  height: 60px; }

.hor_nav ul li a:link,
.hor_nav ul li a:visited {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  font-size: 1.3em; }

.hor_nav ul li.green a:hover,
.hor_nav ul li.green a:active {
  background: #afd741; }

.hor_nav ul li.blue a:hover,
.hor_nav ul li.blue a:active {
  background: #4bc8cd; }

.hor_nav ul li.blue a:hover,
.hor_nav ul li.blue a:active {
  background: #4bc8cd; }

.hor_nav ul li.signup a:link,
.hor_nav ul li.signup a:visited {
  background: #444444; }

.hor_nav ul li a:hover,
.hor_nav ul li a:active {
  background: #444444; }

.hor_nav ul li.blue:hover a {
  background: #4bc8cd; }

.hor_nav ul li.green:hover a {
  background: #afd741; }

.hor_nav ul li.orange:hover a {
  background: #f59128; }

.hor_nav ul li.blue:hover ul a {
  background: white;
  color: #444444; }

.hor_nav ul li.green:hover ul a {
  background: white;
  color: #444444; }

.hor_nav ul li.orange:hover ul a {
  background: white;
  color: #444444; }

.hor_nav ul li.blue ul a:hover {
  background: #4bc8cd; }

.hor_nav ul li.green ul a:hover {
  background: #afd741; }

.hor_nav ul li.orange ul a:hover {
  background: #f59128; }

.hor_nav ul li ul {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 50;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background: white; }

.hor_nav ul li ul li {
  display: block;
  float: none;
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
  height: 40px;
  line-height: 40px; }

.hor_nav ul li ul li a:link,
.hor_nav ul li ul li a:visited {
  display: block;
  width: 100%;
  font-size: 1.1em; }

.hor_nav ul li:hover > ul {
  background: white;
  opacity: 1;
  visibility: visible;
  margin: 0; }

.hor_nav ul li ul li:hover > ul {
  margin-left: 35px;
  background: white; }

.hor_nav {
  display: none; }

#mobile-nav {
  position: absolute;
  display: none;
  left: 0;
  background: black;
  margin-top: 50px;
  width: 100%;
  z-index: 10000;
  line-height: 30px; }

#mobile-nav ul {
  padding: 0; }

#mobile-nav ul li {
  list-style: none; }

#mobile-nav a:link,
#mobile-nav a:visited {
  color: #e1e1e1;
  text-decoration: none;
  font-size: 1.5em; }

.trigger-nav {
  display: block;
  text-align: right; }

.trigger-nav .icon {
  color: white;
  font-size: 2.5em;
  background: #333333;
  line-height: 60px; }

/**** CENTERED TEXT ****/
.title-block {
  text-align: center;
  height: 60%;
  position: relative; }

.va-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table; }

.va {
  display: table-cell; }

.va-m {
  vertical-align: middle; }

.va-m span {
  background: red; }

.title-block h1 {
  color: white;
  font-size: 3em;
  margin: 0;
  line-height: 45px; }

.title-block h2 {
  color: white;
  font-size: 1em;
  margin: 0; }

/********* MAIN *********/
.main h1 {
  font-size: 3em;
  color: white;
  padding: 0;
  margin: 0;
  line-height: 50px;
  font-family: "SourceSansPro-Bold", sans-serif; }

.main p {
  font-size: 1.2em;
  color: white; }

.main .row:nth-child(2),
.main .row:nth-child(5),
.main .row:nth-child(7),
.main .row:nth-child(8) {
  margin-bottom: 60px; }

.main .row:nth-child(1) {
  margin-top: 50px; }

.main .video-container {
  position: relative; }

.main .video-container img {
  width: 100%; }

.main .container .row:nth-child(2) section:nth-child(2) a:link,
.main .container .row:nth-child(2) section:nth-child(2) a:visited {
  margin: 10px 0; }

.main .container .row:nth-child(2) section:last-child .button:first-child {
  margin-top: 40px;
  margin-bottom: 10px; }

.main .graybox {
  background-color: #3e3e3e;
  background: -webkit-gradient(linear, left top, right top, from(#1e1d1d), to(#3e3e3e));
  background: -webkit-linear-gradient(left, #3e3e3e, #1e1d1d);
  background: -moz-linear-gradient(left, #3e3e3e, #1e1d1d);
  background: -ms-linear-gradient(left, #3e3e3e, #1e1d1d);
  background: -o-linear-gradient(left, #3e3e3e, #1e1d1d); }

.main .large p {
  color: #a1a1a1;
  font-size: 1.2em;
  margin: 0 40px; }

.large {
  min-height: 320px;
  width: 100%;
  float: none; }

.large img {
  height: 60px;
  margin: 40px 40px 30px 40px; }

.small {
  min-height: 170px; }

.main .small p {
  font-size: 1.5em;
  padding: 40px;
  color: #a1a1a1;
  text-align: center;
  margin: 0; }

.researchers .overlay {
  background: #4bc8cd; }

.consumers .overlay {
  background: #afd741; }

.blog .overlay {
  background: #f59128; }

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.overlay:hover {
  opacity: 0; }

.main video {
  width: 100%;
  margin-bottom: -5px;
  cursor: pointer; }

.main .row:nth-child(2) section:last-child .button:last-child:link,
.main .row:nth-child(2) section:last-child .button:last-child:visited {
  background: black;
  color: white; }

.main .row:nth-child(2) section:last-child .button:last-child:hover,
.main .row:nth-child(2) section:last-child .button:last-child:active {
  background: #444444;
  color: white; }

.researchers .button:link,
.researchers .button:visited {
  background: #4bc8cd;
  color: white; }

.researchers .button:hover,
.researchers .button:active {
  background: #444444;
  color: white; }

.consumers .button:link,
.consumers .button:visited {
  background: #afd741;
  color: white; }

.consumers .button:hover,
.consumers .button:active {
  background: #444444;
  color: white; }

.blog .button:link,
.blog .button:visited {
  background: #f59128;
  color: white; }

.blog .button:hover,
.blog .button:active {
  background: #444444;
  color: white; }

.button:link,
.button:visited {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  width: 100%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 1.3em; }

.button:hover,
.button:active {
  text-decoration: none; }

/******** FOOTER ********/
footer {
  background: #434343;
  padding-bottom: 50px; }

footer h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  margin-top: 50px; }

.main h3 {
  margin: 0 40px;
  padding: 0;
  font-size: 2em;
  line-height: 30px;
  margin-bottom: 10px; }

.researchers footer h3,
.researchers .main h3 {
  color: #4bc8cd; }

.consumers footer h3,
.consumers .main h3 {
  color: #afd741; }

.blog footer h3,
.blog .main h3 {
  color: #f59128; }

.main .bottom h3 {
  padding-top: 40px;
  color: white; }

.main .bottom a:link,
.main .bottom a:visited {
  display: block;
  font-size: 1.5em;
  padding: 40px;
  text-align: right;
  text-decoration: none; }

.researchers .main .bottom a:link,
.researchers .main .bottom a:visited {
  color: #4bc8cd; }

.consumers .main .bottom a:link,
.consumers .main .bottom a:visited {
  color: #afd741; }

.blog .main .bottom a:link,
.blog .main .bottom a:visited {
  color: #f59128; }

.main .bottom {
  min-height: 300px; }

.main .bottom a:hover,
.main .bottom a:active {
  color: #444444; }

footer ul {
  margin: 0;
  padding: 0; }

footer ul li {
  list-style: none; }

footer a:link,
footer a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.2em; }

footer a:hover,
footer a:active {
  color: #4bc8cd; }

.copyright {
  background: #4d4d4d; }

.copyright p {
  color: #a1a1a1;
  padding: 0;
  margin: 0;
  text-align: center; }

.copyright p:first-child {
  margin-top: 15px; }

.social-icons {
  float: none;
  padding: 0;
  nargin: 0;
  text-align: center; }

.social-icons li {
  list-style: none;
  display: inline-block; }

.social-icons li a:link,
.scoial-icons li a:visited {
  color: white;
  background: #434343;
  font-size: 2em;
  padding: 8px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.researchers .social-icons li a:hover,
.researchers .scoial-icons li a:active {
  color: white;
  background: #4bc8cd; }

.consumers .social-icons li a:hover,
.consumers .scoial-icons li a:active {
  color: white;
  background: #afd741; }

.blog .social-icons li a:hover,
.blog .scoial-icons li a:active {
  color: white;
  background: #f59128; }

/******** BUTTONS ON BOTTOM ******/
.main-buttons {
  position: absolute;
  bottom: 0;
  width: 100%; }

div.main-buttons section.col-sm-6 {
  padding: 0; }

.main-buttons a:link,
.main-buttons a:visited {
  display: block;
  height: 60px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
  font-size: 1.2em; }

div.main-buttons section.col-sm-6:first-child a:link,
div.main-buttons section.col-sm-6:first-child a:visited {
  background: #4bc8cd; }

div.main-buttons section.col-sm-6:first-child a:hover,
div.main-buttons section.col-sm-6:first-child a:active {
  background: #444444;
  color: white; }

div.main-buttons section.col-sm-6:last-child a:link,
div.main-buttons section.col-sm-6:last-child a:visited {
  background: #afd741; }

div.main-buttons section.col-sm-6:last-child a:hover,
div.main-buttons section.col-sm-6:last-child a:active {
  background: #444444;
  color: white; }

@media (min-width: 768px) {
  .display-mobile {
    display: none; }

  .home video {
    display: block; }

  .mobile-background {
    display: none; }

  .main-buttons a:link,
  .main-buttons a:visited {
    height: 80px;
    line-height: 80px;
    font-size: 1.4em; }

  .hor_nav ul li:nth-child(1) ul {
    width: 146px; }

  .hor_nav ul li:nth-child(2) ul {
    width: 139px; }

  .trigger-nav {
    display: none; }

  .hor_nav {
    display: block; }

  .title-block {
    height: 80%; }

  .title-block h1 {
    font-size: 6em;
    line-height: 75px; }

  .title-block h2 {
    font-size: 2em; }

  .main h1 {
    font-size: 2.9em;
    line-height: 50px; }

  .main p {
    font-size: 1.1em; }

  .large {
    width: 33.333333334%;
    float: left;
    min-height: 290px;
    margin: 0; }

  .main .container .row:nth-child(5) section a:link,
  .main .container .row:nth-child(5) section a:visited,
  .main .container .row:nth-child(7) section a:link,
  .main .container .row:nth-child(7) section a:visited {
    width: 175px;
    float: right; }

  .small {
    min-height: 120px;
    width: 100%; }

  .small-vid {
    float: left;
    width: 33.333333334%; }

  .main .large-vid video {
    height: 529px; }

  .button:link,
  .button:visited {
    line-height: 45px;
    font-size: 1.1em; }

  .hor_nav ul li a:link,
  .hor_nav ul li a:visited {
    font-size: 1.1em; }

  .main .container .row:nth-child(2) section:last-child .button:first-child {
    margin-top: 25px; }

  .main .row:nth-child(1) {
    margin-top: 100px; }

  .main .row:nth-child(2),
  .main .row:nth-child(5),
  .main .row:nth-child(7),
  .main .row:nth-child(8) {
    margin-bottom: 80px; }

  .copyright p {
    text-align: left; }

  .social-icons {
    float: right; }

  .main .large p {
    color: #a1a1a1;
    font-size: 1em;
    margin: 0 40px; }

  .large img {
    height: 40px;
    margin: 40px 40px 20px 40px; }

  .main h3 {
    margin: 0 40px;
    padding: 0;
    font-size: 1.5em;
    line-height: 25px;
    margin-bottom: 10px; }

  .main .small p {
    font-size: 1.3em; }

  .main .bottom a:link,
  .main .bottom a:visited {
    font-size: 1.2em;
    padding-top: 20px; }

  .main .bottom {
    min-height: 200px; } }
@media (min-width: 992px) {
  .main-buttons a:link,
  .main-buttons a:visited {
    height: 80px;
    line-height: 80px;
    font-size: 2em; }

  .hor_nav ul li a:link,
  .hor_nav ul li a:visited {
    padding: 0 30px; }

  .hor_nav ul li:nth-child(1) ul {
    width: 146px; }

  .hor_nav ul li:nth-child(2) ul {
    width: 139px; }

  .title-block h1 {
    font-size: 10em;
    line-height: 125px; }

  .title-block h2 {
    font-size: 3.32em; }

  .main h1 {
    font-size: 3.8em;
    line-height: 60px; }

  .main p {
    font-size: 1.4em; }

  .large {
    min-height: 360px; }

  .main .container .row:nth-child(5) section a:link,
  .main .container .row:nth-child(5) section a:visited,
  .main .container .row:nth-child(7) section a:link,
  .main .container .row:nth-child(7) section a:visited {
    width: 225px; }

  .small {
    min-height: 150px;
    width: 100%; }

  .small-vid {
    float: right;
    width: 33.333333334%; }

  .main .large-vid video {
    height: 641px; }

  .button:link,
  .button:visited {
    line-height: 55px;
    font-size: 1.3em; }

  .main .container .row:nth-child(2) section:last-child .button:first-child {
    margin-top: 40px; }

  .hor_nav ul li a:link,
  .hor_nav ul li a:visited {
    font-size: 1.2em; }

  .main .row:nth-child(1) {
    margin-top: 125px; }

  .main .row:nth-child(2),
  .main .row:nth-child(5),
  .main .row:nth-child(8),
  .main .row:nth-child(9) {
    margin-bottom: 90px; }

  .main .large p {
    color: #a1a1a1;
    font-size: 1.3em;
    margin: 0 40px; }

  .large img {
    height: 60px;
    margin: 40px; }

  .main h3 {
    margin: 0 40px;
    padding: 0;
    font-size: 2em;
    line-height: 35px;
    margin-bottom: 10px; }

  .main .small p {
    font-size: 1.4em; }

  .main .bottom a:link,
  .main .bottom a:visited {
    font-size: 1.5em;
    padding-top: 40px; }

  .main .bottom {
    min-height: 250px; } }
@media (min-width: 1200px) {
  .large {
    min-height: 400px; }

  .main h1 {
    font-size: 4.7em;
    line-height: 70px; }

  .main p {
    font-size: 1.8em; }

  .hor_nav ul li:nth-child(1) ul {
    width: 152px; }

  .hor_nav ul li:nth-child(2) ul {
    width: 146px; }

  .main .container .row:nth-child(5) section a:link,
  .main .container .row:nth-child(5) section a:visited,
  .main .container .row:nth-child(7) section a:link,
  .main .container .row:nth-child(7) section a:visited {
    width: 250px; }

  .small {
    min-height: 200px;
    width: 100%; }

  .small-vid {
    float: right;
    width: 33.333333334%; }

  .button:link,
  .button:visited {
    line-height: 70px;
    font-size: 1.5em; }

  .main .container .row:nth-child(2) section:last-child .button:first-child {
    margin-top: 45px; }

  .hor_nav ul li a:link,
  .hor_nav ul li a:visited {
    font-size: 1.3em; }

  .main .row:nth-child(1) {
    margin-top: 150px; }

  .main .row:nth-child(2),
  .main .row:nth-child(5),
  .main .row:nth-child(8),
  .main .row:nth-child(9) {
    margin-bottom: 100px; }

  .main .large p {
    color: #a1a1a1;
    font-size: 1.4em;
    margin: 0 40px; }

  .large img {
    height: 70px;
    margin: 40px; }

  .main h3 {
    margin: 0 40px;
    padding: 0;
    font-size: 2.3em;
    line-height: 35px;
    margin-bottom: 10px; }

  .main .small p {
    font-size: 1.5em; }

  .main .bottom {
    min-height: 300px; }

  .main .bottom a:link,
  .main .bottom a:visited {
    font-size: 1.5em;
    padding-top: 40px; } }
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/SourceSansPro/SourceSansPro-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: 'mindswarms';
  src: url("../fonts/mindswarms.eot?ejbpfy");
  src: url("../fonts/mindswarms.eot?#iefixejbpfy") format("embedded-opentype"), url("../fonts/mindswarms.woff?ejbpfy") format("woff"), url("../fonts/mindswarms.ttf?ejbpfy") format("truetype"), url("../fonts/mindswarms.svg?ejbpfy#mindswarms") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'mindswarms';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rss:before {
  content: "\e600"; }

.icon-list:before {
  content: "\e601"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-facebook:before {
  content: "\e603"; }

.icon-linkedin:before {
  content: "\e604"; }
