/* Testing */
/****** VIDEO BACKGROUND *******/
/* IE 8 SUPPORT */
video {
  display: block; }

/* END IE 8 SUPPORT*/
video#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../img/background-placeholder.jpg") no-repeat;
  background-size: cover; }

video {
  display: none; }

.mobile-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../img/background-placeholder.jpg") no-repeat;
  background-size: cover; }

/***********************************************/
body, html {
  height: 100%; }

header {
  background: black;
  line-height: 60px; }

header .main-logo {
  margin: 0; }

/***** NAVIGATION *****/
.hor_nav ul {
  margin: 0;
  padding: 0;
  float: right; }

.hor_nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0; }

.hor_nav ul li a:link,
.hor_nav ul li a:visited {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: #e1e1e1;
  text-decoration: none; }

.hor_nav ul li a:hover,
.hor_nav ul li a:active {
  background: #444444; }

.hor_nav ul li ul {
  width: 180px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 50;
  padding: 0;
  background: white; }

.hor_nav ul li ul li {
  display: block;
  float: none;
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
  height: 30px;
  line-height: 30px; }

.hor_nav ul li ul li a:link,
.hor_nav ul li ul li a:visited {
  display: block;
  width: 100%; }

.hor_nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0; }

.hor_nav ul li ul li:hover > ul {
  margin-left: 35px; }

.hor_nav {
  display: none; }

#mobile-nav {
  position: absolute;
  display: none;
  left: 0;
  background: black;
  margin-top: 50px;
  width: 100%;
  z-index: 10000;
  line-height: 30px; }

#mobile-nav ul {
  padding: 0; }

#mobile-nav ul li {
  list-style: none; }

#mobile-nav a:link,
#mobile-nav a:visited {
  color: #e1e1e1;
  text-decoration: none; }

/**** CENTERED TEXT ****/
.main {
  text-align: center;
  height: 70%;
  position: relative; }

.va-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table; }

.va {
  display: table-cell; }

.va-m {
  vertical-align: middle; }

.va-m span {
  background: red; }

.main h1 {
  color: white;
  font-size: 3em;
  margin: 0;
  line-height: 45px; }

.main h2 {
  color: white;
  font-size: 1em;
  margin: 0; }

/******** BUTTONS ON BOTTOM ******/
.main-buttons {
  position: absolute;
  bottom: 0;
  width: 100%; }

div.main-buttons section.col-sm-6 {
  padding: 0; }

.main-buttons a:link,
.main-buttons a:visited {
  display: block;
  height: 60px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
  font-size: 1.2em; }

div.main-buttons section.col-sm-6:first-child a:link,
div.main-buttons section.col-sm-6:first-child a:visited {
  background: #4bc8cd; }

div.main-buttons section.col-sm-6:first-child a:hover,
div.main-buttons section.col-sm-6:first-child a:active {
  background: white;
  color: #4bc8cd; }

div.main-buttons section.col-sm-6:last-child a:link,
div.main-buttons section.col-sm-6:last-child a:visited {
  background: #afd741; }

div.main-buttons section.col-sm-6:last-child a:hover,
div.main-buttons section.col-sm-6:last-child a:active {
  background: white;
  color: #afd741; }

@media (min-width: 768px) {
  video {
    display: block; }

  .mobile-background {
    display: none; }

  .main-buttons a:link,
  .main-buttons a:visited {
    height: 80px;
    line-height: 80px;
    font-size: 1.4em; }

  .trigger-nav {
    display: none; }

  .hor_nav {
    display: block; }

  .main {
    height: 80%; }

  .main h1 {
    font-size: 6em;
    line-height: 75px; }

  .main h2 {
    font-size: 2em; } }
@media (min-width: 992px) {
  .main-buttons a:link,
  .main-buttons a:visited {
    height: 80px;
    line-height: 80px;
    font-size: 2em; }

  .hor_nav ul li a:link,
  .hor_nav ul li a:visited {
    padding: 0 30px; }

  .main h1 {
    font-size: 10em;
    line-height: 125px; }

  .main h2 {
    font-size: 3.32em; } }
