// COLORS

$white: #FFFFFF;
$black: #000000;
$gray: #e1e1e1;
$darkgray: #444444;
$green: rgba(175,215,65,1);
$blue: rgba(75,200,205,1);
$orange: rgba(245,145,40,1);
$footergray: #434343;
$copyrightgray: #4d4d4d;

// TRANSITION MIXINS

@mixin transition($sec) {
	-webkit-transition: all $sec linear;
	-moz-transition: all $sec linear;
	-o-transition: all $sec linear;
	-ms-transition: all $sec linear;
	transition: all $sec linear;
}

@mixin transition-opacity($sec) {
	-webkit-transition: opacity $sec linear;
	-moz-transition: opacity $sec linear;
	-o-transition: opacity $sec linear;
	-ms-transition: opacity $sec linear;
	transition: opacity $sec linear;
}

$ssproregular: 'SourceSansPro-Regular', sans-serif;
$ssprobold: 'SourceSansPro-Bold', sans-serif;
$ssproitalic: 'SourceSansPro-Italic', sans-serif;


// VIDEO BACKGROUNDS

// IE 8 SUPPORT
.home video { display: block; }
// END IE 8 SUPPORT

.home video#video-background {
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	// background: $black;
	background: url('../img/background-placeholder.jpg') no-repeat;
	background-size: cover;
}

.home video {
	display: none;
}

.mobile-background {
	position: absolute; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	// background: $black;
	background: url('../img/background-placeholder.jpg') no-repeat;
	background-size: cover;
}

.display-mobile {
	display: block;
}

.relative {
	position: relative;
}



// DIFFERENT BODY BACKGROUND COLORS/BODY STYLING

body.home, html {
  height: 100%;
}

body {
	font-family: $ssproregular;
}

.researchers .main {
	background-color: #8ca1ad;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4a5f6c), to(#8ca1ad));
	background: -webkit-linear-gradient(top, #8ca1ad, #4a5f6c);
	background: -moz-linear-gradient(top, #8ca1ad, #4a5f6c);
	background: -ms-linear-gradient(top, #8ca1ad, #4a5f6c);
	background: -o-linear-gradient(top, #8ca1ad, #4a5f6c);
}

.consumers .main {
	background-color: #84ae7f;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#346e57), to(#84ae7f));
	background: -webkit-linear-gradient(top, #84ae7f, #346e57);
	background: -moz-linear-gradient(top, #84ae7f, #346e57);
	background: -ms-linear-gradient(top, #84ae7f, #346e57);
	background: -o-linear-gradient(top, #84ae7f, #346e57);
}

.blog .main {
	background-color: #e58925;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9a4e00), to(#e58925));
	background: -webkit-linear-gradient(top, #e58925, #9a4e00);
	background: -moz-linear-gradient(top, #e58925, #9a4e00);
	background: -ms-linear-gradient(top, #e58925, #9a4e00);
	background: -o-linear-gradient(top, #e58925, #9a4e00);
}

.sample .main {
	background-color: #8ca1ad;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4a5f6c), to(#8ca1ad));
	background: -webkit-linear-gradient(top, #8ca1ad, #4a5f6c);
	background: -moz-linear-gradient(top, #8ca1ad, #4a5f6c);
	background: -ms-linear-gradient(top, #8ca1ad, #4a5f6c);
	background: -o-linear-gradient(top, #8ca1ad, #4a5f6c);
}


// HEADER STYLING/MAIN LOGO

header {
	background: $black;
	line-height: 60px;
	height: 60px;
}

header .main-logo {
	margin: 0;
	color: $white;
}

header a:link .main-logo,
header a:visited .main-logo {
	font-size: 2.5em;
	font-family: $ssprobold;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
	text-decoration: none;
}


// MAIN NAVIGATION STYLING

.hor_nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

.hor_nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0;
	height: 60px;
}

.hor_nav ul li a:link, 
.hor_nav ul li a:visited {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	color: $white;
	text-decoration: none;
	font-size: 1.3em;
	@include transition(.2s);
}

.hor_nav ul li.green a:hover,
.hor_nav ul li.green a:active {
	background: $green;
}

.hor_nav ul li.blue a:hover,
.hor_nav ul li.blue a:active {
	background: $blue;
}

.hor_nav ul li.blue a:hover,
.hor_nav ul li.blue a:active {
	background: $blue;
}

.hor_nav ul li.signup a:link,
.hor_nav ul li.signup a:visited {
	background: $darkgray;
}

.hor_nav ul li.signup a:hover,
.hor_nav ul li.signup a:active {
	background: $gray;
}

.hor_nav ul li a:hover, 
.hor_nav ul li a:active {
	background: $darkgray;
	color: $black;
}

.hor_nav ul li.blue:hover a {
	background: $blue;
}

.hor_nav ul li.green:hover a {
	background: $green;
}

.hor_nav ul li.orange:hover a {
	background: $orange;
}

.hor_nav ul li.blue:hover ul a {
	background: $white;
	color: $darkgray;
}

.hor_nav ul li.green:hover ul a {
	background: $white;
	color: $darkgray;
}

.hor_nav ul li.orange:hover ul a {
	background: $white;
	color: $darkgray;
}

.hor_nav ul li.blue ul a:hover {
	background: $blue;
}

.hor_nav ul li.green ul a:hover {
	background: $green;
}

.hor_nav ul li.orange ul a:hover {
	background: $orange;
}

.hor_nav ul li ul {
	opacity: 0;
	position: absolute;
	visibility:hidden;
	z-index:50;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background: $white;
}

.hor_nav ul li ul li {
	display: block;
	float:none;
	text-align: left;
	width: 100%;
	padding: 0;
	margin: 0;
	background: $white;
	height: 40px;
	line-height: 40px;
}

.hor_nav ul li ul li a:link, 
.hor_nav ul li ul li a:visited {
	display: block;
	width: 100%;
	font-size: 1.1em;
}

.hor_nav ul li ul li a:hover, 
.hor_nav ul li ul li a:active {
}

.hor_nav ul li:hover > ul {
	background: $white;
	opacity: 1;
	visibility: visible;
	margin: 0;
}

.hor_nav ul li ul li:hover > ul {
  margin-left: 35px;
  background: $white;
}

.hor_nav {
	display: none;
}


// MOBILE NAVIGATION DROPDOWN

#mobile-nav {
	position: absolute;
	display: none;
	left: 0;
	background: black;
	margin-top: 50px;
	width: 100%;
	z-index: 10000;
	line-height: 30px;
}

#mobile-nav ul {
	padding: 0;
}

#mobile-nav ul li {
	list-style: none;
}

#mobile-nav a:link,
#mobile-nav a:visited {
	color: $gray;
	text-decoration: none;
	font-size: 1.5em;
}

.trigger-nav {
	display: block;
	text-align: right;
}

.trigger-nav .icon {
	color: $white;
	font-size: 2.5em;
	background: #333333;
	line-height: 60px;
}


// HOME PAGE CENTERED TEXT BLOCK

.title-block {
  text-align: center;
  height: 60%;
  position: relative;
}

.va-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.va {
  display: table-cell;
}

.va-m {
  vertical-align: middle;
}

.va-m span {
	background: red;
}

.title-block h1 {
	color: $white;
	font-size: 3em;
	margin: 0;
	line-height: 45px;
}

.title-block h2 {
	color: $white;
	font-size: 1em;
	margin: 0;
}







// SECONDARY PAGE STYLING (RESEARCHERS/CONSUMERS/BLOG)

.main h1 {
	font-size: 2.6em;
	color: $white;
	padding: 0;
	margin: 0;
	line-height: 35px;
	font-family: $ssprobold;
}

.main p {
	font-size: 1.2em;
	color: $white;
}

.researchers .main .row:nth-child(2),
.researchers .main .row:nth-child(5),
.researchers .main .row:nth-child(7),
.researchers .main .row:nth-child(8),
.consumers .main .row:nth-child(2),
.consumers .main .row:nth-child(5),
.consumers .main .row:nth-child(7),
.consumers .main .row:nth-child(8),
.blog .main .row:nth-child(2),
.blog .main .row:nth-child(5),
.blog .main .row:nth-child(7),
.blog .main .row:nth-child(8) {
	margin-bottom: 60px;
}

.main .row:nth-child(1) {
	margin-top: 50px;
}

.main .video-container {
	position: relative;
}

.main .video-container img {
	width: 100%;
}

.main .container .row:nth-child(2) section:nth-child(2) a:link,
.main .container .row:nth-child(2) section:nth-child(2) a:visited {
	margin: 10px 0;
}

.main .container .row:nth-child(2) section:last-child .button:first-child {
	margin-top: 40px;
	margin-bottom: 10px;
}

.main .graybox {
	background-color: #3e3e3e;
	background: -webkit-gradient(linear, left top, right top, from(#1e1d1d), to(#3e3e3e));
	background: -webkit-linear-gradient(left, #3e3e3e, #1e1d1d);
	background: -moz-linear-gradient(left, #3e3e3e, #1e1d1d);
	background: -ms-linear-gradient(left, #3e3e3e, #1e1d1d);
	background: -o-linear-gradient(left, #3e3e3e, #1e1d1d);
}

.main .large p {
	color: #a1a1a1;
	font-size: 1.2em;
	margin: 0 40px;
}

.large {
	min-height: 320px;
	width: 100%;
	float: none;
}

.large img {
	height: 60px;
	margin: 40px 40px 30px 40px;
}

.small {
	min-height: 170px;
}

.main .small p {
	font-size: 1.5em;
	padding: 40px 40px 20px 40px;
	color: #a1a1a1;
	text-align: center;
	margin: 0;
	font-family: $ssproitalic;
	line-height: 30px;
}

.main .small p + span {
	display: block;
	text-align: right;
	color: $white;
	padding: 0 40px 40px 40px;
	font-size: 1.2em;
}

.main h3 {
	margin: 0 40px;
	padding: 0;
	font-size: 2em;
	line-height: 30px;
	margin-bottom: 10px;
}

.main .bottom h3 {
	padding-top: 40px;
	color: $white;
}

.main .bottom a:link,
.main .bottom a:visited {
	display: block;
	font-size: 1.5em;
	padding: 40px;
	text-align: right;
	text-decoration: none;
}

.researchers .overlay {
	background: $blue;
}

.consumers .overlay {
	background: $green;
}

.blog .overlay {
	background: $orange;
}

.overlay {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .5;
	cursor: pointer;
	@include transition-opacity(.2s);
}

.overlay:hover {
	opacity: 0;
}

.main video {
	width: 100%;
	margin-bottom: -5px;
	cursor: pointer;
}

.main .row:nth-child(2) section:last-child .button:last-child:link,
.main .row:nth-child(2) section:last-child .button:last-child:visited {
	background: $black;
	color: $white;
}

.main .row:nth-child(2) section:last-child .button:last-child:hover,
.main .row:nth-child(2) section:last-child .button:last-child:active {
	background: $darkgray;
	color: $white;
}

.researchers .button:link,
.researchers .button:visited {
	background: $blue;
	color: $white;
}

.researchers .button:hover,
.researchers .button:active {
	background: $darkgray;
	color: $white;
}

.consumers .button:link,
.consumers .button:visited {
	background: $green;
	color: $white;
}

.consumers .button:hover,
.consumers .button:active {
	background: $darkgray;
	color: $white;
}

.blog .button:link,
.blog .button:visited {
	background: $orange;
	color: $white;
}

.blog .button:hover,
.blog .button:active {
	background: $darkgray;
	color: $white;
}

.button:link,
.button:visited {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	width: 100%;
	@include transition(.2s);
	font-size: 1.3em;
}

.button:hover,
.button:active {
	text-decoration: none;
}



// FOOTER STYLING/FOOTER NAVIGATION

footer {
	background: $footergray;
	padding-bottom: 50px;
}

footer h3,{
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 1.5em;
	margin-top: 50px;
}

.researchers footer h3,
.researchers .main h3 {
	color: $blue;
}

.consumers footer h3,
.consumers .main h3 {
	color: $green;
}

.blog footer h3,
.blog .main h3 {
	color: $orange;
}

.researchers .main .bottom a:link,
.researchers .main .bottom a:visited {
	color: $blue;
}

.researchers .main .bottom a:hover,
.researchers .main .bottom a:active {
	color: $white;;
}

.consumers .main .bottom a:link,
.consumers .main .bottom a:visited {
	color: $green;
}

.consumers .main .bottom a:hover,
.consumers .main .bottom a:active {
	color: $white;
}

.blog .main .bottom a:link,
.blog .main .bottom a:visited {
	color: $orange;
}

.blog .main .bottom a:hover,
.blog .main .bottom a:active {
	color: $white;
}

.main .bottom {
	min-height: 300px;
}

.main .bottom a:hover,
.main .bottom a:active {
	color: $darkgray;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li {
	list-style: none;
}

footer a:link,
footer a:visited {
	color: $white;
	text-decoration: none;
	font-size: 1.2em;
}

.researchers footer a:hover,
.researchers footer a:active {
	color: $blue;
}

.consumers footer a:hover,
.consumers footer a:active {
	color: $green;
}

.blog footer a:hover,
.blog footer a:active {
	color: $orange;
}



// COPYRIGHT BAR/SOCIAL ICONS

.copyright {
	background: $copyrightgray;
}

.copyright p {
	color: #a1a1a1;
	padding: 0;
	margin: 0;
	text-align: center;
}

.copyright p:first-child {
	margin-top: 15px;
}

.social-icons {
	float: none;
	padding: 0;
	nargin: 0;
	text-align: center;
}

.social-icons li {
	list-style: none;
	display: inline-block;
}

.social-icons li a:link,
.scoial-icons li a:visited {
	color: $white;
	background: $footergray;
	font-size: 2em;
	padding: 8px;
	text-decoration: none;
	@include transition(.2s);
}

.researchers .social-icons li a:hover,
.researchers .scoial-icons li a:active {
	color: $white;
	background: $blue;
}

.consumers .social-icons li a:hover,
.consumers .scoial-icons li a:active {
	color: $white;
	background: $green;
}

.blog .social-icons li a:hover,
.blog .scoial-icons li a:active {
	color: $white;
	background: $orange;
}


// LARGE BUTTONS ON BOTTOM OF HOME PAGE ONLY

.main-buttons {
	position: absolute;
	bottom: 0;
	width: 100%;
}

div.main-buttons section.col-sm-6 {
	padding: 0;
}

.main-buttons a:link,
.main-buttons a:visited {
	display: block;
	height: 60px;
	color: $white;
	text-decoration: none;
	line-height: 60px;
	text-align: center;
	font-size: 1.2em;
	@include transition(.2s);
}

div.main-buttons section.col-sm-6:first-child a:link,
div.main-buttons section.col-sm-6:first-child a:visited {
	background: $blue;
}

div.main-buttons section.col-sm-6:first-child a:hover,
div.main-buttons section.col-sm-6:first-child a:active {
	background: $darkgray;
	color: $white;
}

div.main-buttons section.col-sm-6:last-child a:link,
div.main-buttons section.col-sm-6:last-child a:visited {
	background: $green;
}

div.main-buttons section.col-sm-6:last-child a:hover,
div.main-buttons section.col-sm-6:last-child a:active {
	background: $darkgray;
	color: $white;
}





//
//
//
//
// SAMPLE ELEMENT PAGE
//
//
//


.sample .main .element-1,
	.sample .main .element-2,
	.sample .main .element-3,
	.sample .main .element-4,
	.sample .main .element-5,
	.sample .main .element-6 {
	margin-bottom: 50px;
}

.sample .main h1 {
	font-size: 2em;
	line-height: 25px;
	margin-bottom: 10px;
	margin-top: 20px;
	clear: both;
	display: inline-block;
}

.sample .main h2 {
	margin: 0;
	font-size: 1.2em;
	line-height: 20px;
}

.sample .main .nogutter {
	margin: 0;
	padding: 0;
}

// ELEMENT 2

.sample .main img {
	width: 100%;
}

// ELEMENT 3 

.sample .main .element-3 .graybox {
	padding: 80px;
}

.sample .main .element-3 .graybox h1 {
	margin: 10px 0;
}

.sample .main .element-3 .graybox h2 {
	color: $white;
}

// ELEMENT 4

.sample .main .element-4 {
	margin-bottom: 0;
}

.sample .main .element-4.b {
	margin-bottom: 150px;
}

.sample .main .element-4 h1,
.sample .main .element-4 h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 0;
}

.sample .main .element-4 h2 {
	margin-bottom: 50px;
}

// ELEMENT 5 

.sample .main .element-5 .graybox {
	padding: 50px 80px;
}

.sample .main .element-5 .graybox p {
	color: $white;
	font-size: 1.2em;
}





















//
//
//
// MEDIA QUERIES FOR LARGER THEN MOBILE SIZED SCREENS
// +768PX SCREENS
//
//
//



@media (min-width: 768px) {

	.display-mobile {
		display: none;
	}

	.home video {
		display: block;
	}

	.mobile-background {
		display: none;
	}

	.main-buttons a:link,
	.main-buttons a:visited {
		height: 80px;
		line-height: 80px;
		font-size: 1.4em;
	}

	.hor_nav ul li:nth-child(1) ul {
		width: 146px;
	}

	.hor_nav ul li:nth-child(2) ul {
		width: 139px;
	}

	.trigger-nav {
		display: none;
	}

	.hor_nav {
		display: block;
	}

	.title-block {
	  height: 80%;
	}

	.title-block h1 {
		font-size: 6em;
		line-height: 75px;
	}

	.title-block h2 {
		font-size: 2em;
	}

	.main h1 {
		font-size: 2.9em;
		line-height: 50px;
	}

	.main p {
		font-size: 1.2em;
		margin-top: 5px;
	}

	.large {
		width: 33.333333334%;
		float: left;
		min-height: 290px;
		margin: 0;
	}

	.main .container .row:nth-child(5) section a:link,
	.main .container .row:nth-child(5) section a:visited,
	.main .container .row:nth-child(7) section a:link,
	.main .container .row:nth-child(7) section a:visited {
		width: 175px;
		float: right;
	}
	
	.small {
		min-height: 120px;
		width: 100%;
	}

	.small-vid {
		float: left;
		width: 33.333333334%;
	}

	.main .large-vid video {
		height: 405px;
	}

	.button:link,
	.button:visited {
		line-height: 45px;
		font-size: 1.1em;
	}

	.hor_nav ul li a:link, 
	.hor_nav ul li a:visited {
		font-size: 1.1em;
	}

	.main .container .row:nth-child(2) section:last-child .button:first-child {
		margin-top: 25px;
	}

	.main .row:nth-child(1) {
		margin-top: 100px;
	}

	.researchers .main .row:nth-child(2),
	.researchers .main .row:nth-child(5),
	.researchers .main .row:nth-child(7),
	.researchers .main .row:nth-child(8),
	.consumers .main .row:nth-child(2),
	.consumers .main .row:nth-child(5),
	.consumers .main .row:nth-child(7),
	.consumers .main .row:nth-child(8),
	.blog .main .row:nth-child(2),
	.blog .main .row:nth-child(5),
	.blog .main .row:nth-child(7),
	.blog .main .row:nth-child(8) {
		margin-bottom: 80px;
	}

	.copyright p {
		text-align: left;
	}

	.social-icons {
		float: right;
	}

	.main .large p {
		color: #a1a1a1;
		font-size: 1em;
		margin: 0 40px;
	}

	.large img {
		height: 40px;
		margin: 40px 40px 20px 40px;
	}

	.main h3 {
		margin: 0 40px;
		padding: 0;
		font-size: 1.5em;
		line-height: 25px;
		margin-bottom: 10px;
	}

	.main .small p {
		font-size: 1.3em;
		line-height: 20px;
	}

	.main .bottom a:link,
	.main .bottom a:visited {
		font-size: 1.2em;
		padding-top: 20px;
	}

	.main .bottom {
		min-height: 200px;
	}

	//
	//
	//
	// SAMPLE ELEMENTS
	//
	//



	.sample .main .element-1,
	.sample .main .element-2,
	.sample .main .element-3,
	.sample .main .element-5,
	.sample .main .element-6 {
		margin-bottom: 100px;
	}

	.sample .main h1 {
		font-size: 1.9em;
		line-height: 25px;
		margin-top: 50px;
	}

		// ELEMENT 2

	.sample .main .element-2 h1 {
		margin-top: 100px;
	}


}


//
//
//
// + 992PX SCREENS
//
//
//


@media (min-width: 992px) {

	.main-buttons a:link,
	.main-buttons a:visited {
		height: 80px;
		line-height: 80px;
		font-size: 2em;
	}

	.hor_nav ul li a:link, 
	.hor_nav ul li a:visited {
		padding: 0 30px;
	}

	.hor_nav ul li:nth-child(1) ul {
		width: 146px;
	}

	.hor_nav ul li:nth-child(2) ul {
		width: 139px;
	}

	.title-block h1 {
		font-size: 10em;
		line-height: 125px;
	}

	.title-block h2 {
		font-size: 3.32em;
	}

	.main h1 {
		font-size: 3.8em;
		line-height: 60px;
	}

	.main p {
		font-size: 1.4em;
		margin-top: 30px;
	}

	.large {
		min-height: 360px;
	}

	.main .container .row:nth-child(5) section a:link,
	.main .container .row:nth-child(5) section a:visited,
	.main .container .row:nth-child(7) section a:link,
	.main .container .row:nth-child(7) section a:visited {
		width: 225px;
	}

	.small {
		min-height: 150px;
		width: 100%;
	}

	.small-vid {
		float: right;
		width: 33.333333334%;
	}

	.main .large-vid video {
		height: 529px;
	}

	.button:link,
	.button:visited {
		line-height: 55px;
		font-size: 1.3em;
	}

	.main .container .row:nth-child(2) section:last-child .button:first-child {
		margin-top: 40px;
	}

	.hor_nav ul li a:link, 
	.hor_nav ul li a:visited {
		font-size: 1.2em;
	}

	.main .row:nth-child(1) {
		margin-top: 125px;
	}

	.researchers .main .row:nth-child(2),
	.researchers .main .row:nth-child(5),
	.researchers .main .row:nth-child(7),
	.researchers .main .row:nth-child(8),
	.consumers .main .row:nth-child(2),
	.consumers .main .row:nth-child(5),
	.consumers .main .row:nth-child(7),
	.consumers .main .row:nth-child(8),
	.blog .main .row:nth-child(2),
	.blog .main .row:nth-child(5),
	.blog .main .row:nth-child(7),
	.blog .main .row:nth-child(8) {
		margin-bottom: 90px;
	}

	.main .large p {
		color: #a1a1a1;
		font-size: 1.3em;
		margin: 0 40px;
	}

	.large img {
		height: 60px;
		margin: 40px;
	}

	.main h3 {
		margin: 0 40px;
		padding: 0;
		font-size: 2em;
		line-height: 35px;
		margin-bottom: 10px;
	}

	.main .small p {
		font-size: 1.4em;
		line-height: 25px;
	}

	.main .bottom a:link,
	.main .bottom a:visited {
		font-size: 1.5em;
		padding-top: 40px;
	}

	.main .bottom {
		min-height: 250px;
	}

	.main .bottom h3 {
		font-size: 1.7em;
	}

	//
	//
	//
	// SAMPLE ELEMENTS
	//
	//

	.sample .main .element-1,
	.sample .main .element-2,
	.sample .main .element-3,
	.sample .main .element-5,
	.sample .main .element-6 {
		margin-bottom: 130px;
	}

	.sample .main h1 {
		font-size: 2.2em;
		margin-top: 110px;
		line-height: 30px;
	}

	.sample .main h2 {
		margin: 0;
		font-size: 1.3em;
		line-height: 20px;
	}

		// ELEMENT 2

	.sample .main .element-2 h1 {
		margin-top: 150px;
	}

}


//
//
//
// + 1200PX SCREENS
//
//
//



@media (min-width: 1200px) {

	.large {
		min-height: 400px;
	}

	.main h1 {
		font-size: 4.7em;
		line-height: 70px;
	}

	.main p {
		font-size: 1.8em;
	}

	.hor_nav ul li:nth-child(1) ul {
		width: 152px;
	}

	.hor_nav ul li:nth-child(2) ul {
		width: 146px;
	}

	.main .large-vid video {
		height: 641px;
	}


	.main .container .row:nth-child(5) section a:link,
	.main .container .row:nth-child(5) section a:visited,
	.main .container .row:nth-child(7) section a:link,
	.main .container .row:nth-child(7) section a:visited {
		width: 250px;
	}

	.small {
		min-height: 200px;
		width: 100%;
	}

	.small-vid {
		float: right;
		width: 33.333333334%;
	}

	.button:link,
	.button:visited {
		line-height: 70px;
		font-size: 1.5em;
	}

	.main .container .row:nth-child(2) section:last-child .button:first-child {
		margin-top: 45px;
	}

	.hor_nav ul li a:link, 
	.hor_nav ul li a:visited {
		font-size: 1.3em;
	}

	.main .row:nth-child(1) {
		margin-top: 150px;
	}

	.researchers .main .row:nth-child(2),
	.researchers .main .row:nth-child(5),
	.researchers .main .row:nth-child(7),
	.researchers .main .row:nth-child(8),
	.consumers .main .row:nth-child(2),
	.consumers .main .row:nth-child(5),
	.consumers .main .row:nth-child(7),
	.consumers .main .row:nth-child(8),
	.blog .main .row:nth-child(2),
	.blog .main .row:nth-child(5),
	.blog .main .row:nth-child(7),
	.blog .main .row:nth-child(8) {
		margin-bottom: 100px;
	}

	.main .large p {
		color: #a1a1a1;
		font-size: 1.4em;
		margin: 0 40px;
	}

	.large img {
		height: 70px;
		margin: 40px;
	}

	.main h3 {
		margin: 0 40px;
		padding: 0;
		font-size: 2.3em;
		line-height: 35px;
		margin-bottom: 10px;
	}

	.main .small p {
		font-size: 1.5em;
		line-height: 30px;
	}

	.main .bottom {
		min-height: 300px;
	}

	.main .bottom h3 {
		font-size: 1.9em;
	}

	.main .bottom a:link,
	.main .bottom a:visited {
		font-size: 1.5em;
		padding-top: 40px;
	}


	//
	//
	//
	// SAMPLE ELEMENTS
	//
	//

	// ELEMENT 1

	.sample .main .element-1,
	.sample .main .element-2,
	.sample .main .element-3,
	.sample .main .element-5,
	.sample .main .element-6 {
		margin-bottom: 150px;
	}

	.sample .main h1 {
		font-size: 2.5em;
		margin-top: 150px;
		line-height: 35px;
	}

	.sample .main h2 {
		margin: 0;
		font-size: 1.4em;
		line-height: 20px;
	}

	// ELEMENT 2

	.sample .main .element-2 h1 {
		margin-top: 200px;
	}

	// ELEMENT 4

}



// PROVIDED FONTS


@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url('../fonts/SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../fonts/SourceSansPro/SourceSansPro-Semibold.ttf') format('truetype');
}


// ICON FONTS


@font-face {
	font-family: 'mindswarms';
	src:url('../fonts/mindswarms.eot?ejbpfy');
	src:url('../fonts/mindswarms.eot?#iefixejbpfy') format('embedded-opentype'),
		url('../fonts/mindswarms.woff?ejbpfy') format('woff'),
		url('../fonts/mindswarms.ttf?ejbpfy') format('truetype'),
		url('../fonts/mindswarms.svg?ejbpfy#mindswarms') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'mindswarms';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
	content: "\e600";
}
.icon-list:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-linkedin:before {
	content: "\e604";
}


