// quickfix: copied from bootstrap scss
$grid-gutter-width:         30px !default;

// COLORS

$white: #FFFFFF;
$black: #000000;
$gray: #e1e1e1;
$darkgray: #444444;
$green: rgba(175,215,65,1);
$blue: rgba(75,200,205,1);
$orange: rgba(245,145,40,1);
$footergray: #434343;
$copyrightgray: #4d4d4d;

// TRANSITION MIXINS

@mixin transition($sec) {
	-webkit-transition: all $sec linear;
	-moz-transition: all $sec linear;
	-o-transition: all $sec linear;
	-ms-transition: all $sec linear;
	transition: all $sec linear;
}

@mixin transition-opacity($sec) {
	-webkit-transition: opacity $sec linear;
	-moz-transition: opacity $sec linear;
	-o-transition: opacity $sec linear;
	-ms-transition: opacity $sec linear;
	transition: opacity $sec linear;
}

@mixin appearance($none) {
	-webkit-appearance: $none;
	-moz-appearance: $none;
	-ms-appearance: $none;
	-o-appearance: $none;
	appearance: $none;
}

@mixin border-radius($px) {
	-webkit-border-radius: $px;
	-moz-border-radius: $px;
	-ms-border-radius: $px;
	-o-border-radius: $px;
	border-radius: $px;
}

$ssproregular: 'SourceSansPro-Regular', sans-serif;
$ssprobold: 'SourceSansPro-Bold', sans-serif;
$ssproitalic: 'SourceSansPro-Italic', sans-serif;

$raleway: 'Raleway', sans-serif;









// HOME PAGE

// IE 8 SUPPORT
.home video { display: block; }
// END IE 8 SUPPORT

.home video#video-background {
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	// background: $black;
	background: url('../2014/img/fpo/videobackground.jpg') no-repeat;
	background-size: cover;
}

.home video {
	display: none;
}

.mobile-background {
	position: absolute; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	// background: $black;
	background: url('../2014/img/fpo/videobackground-mobile.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}

.display-mobile {
	display: block;
}

.relative {
	position: relative;
}



// DIFFERENT BODY BACKGROUND COLORS/BODY STYLING

body.home, html {
  height: 100%;
}

body {
	font-family: $ssproregular;
}

body.blue .main,
body.green .main,
body.orange .main {
	background: #ffffff url('../2014/img/background.png') no-repeat;
	background-position: center bottom;
	background-size: 100%;
}


// HEADER STYLING/MAIN LOGO

header {
	background: $black;
	line-height: 60px;
	height: 60px;
}

header .main-logo {
	margin: 0;
	color: $white;
}

header a:link .main-logo,
header a:visited .main-logo {
	font-size: 2.5em;
	font-family: $ssprobold;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
	text-decoration: none;
}


// MAIN NAVIGATION STYLING

.hor_nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

.hor_nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0;
	height: 60px;
}

.hor_nav ul li a:link, 
.hor_nav ul li a:visited {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	color: $white;
	text-decoration: none;
	font-size: 1.3em;
	@include transition(.2s);
}

.hor_nav ul li.green a:hover,
.hor_nav ul li.green a:active {
	background: $green;
}

.hor_nav ul li.blue a:hover,
.hor_nav ul li.blue a:active {
	background: $blue;
}

.hor_nav ul li.blue a:hover,
.hor_nav ul li.blue a:active {
	background: $blue;
}

.hor_nav ul li.signup a:link,
.hor_nav ul li.signup a:visited {
	background: $darkgray;
}

.hor_nav ul li.signup a:hover,
.hor_nav ul li.signup a:active {
	background: $gray;
}

.hor_nav ul li a:hover, 
.hor_nav ul li a:active {
	background: $darkgray;
	color: $black;
}

.hor_nav ul li.blue:hover a {
	background: $blue;
}

.hor_nav ul li.green:hover a {
	background: $green;
}

.hor_nav ul li.orange:hover a {
	background: $orange;
}

.hor_nav ul li.blue:hover ul a {
	background: $white;
	color: $darkgray;
}

.hor_nav ul li.green:hover ul a {
	background: $white;
	color: $darkgray;
}

.hor_nav ul li.orange:hover ul a {
	background: $white;
	color: $darkgray;
}

.hor_nav ul li.blue ul a:hover {
	background: $blue;
}

.hor_nav ul li.green ul a:hover {
	background: $green;
}

.hor_nav ul li.orange ul a:hover {
	background: $orange;
}

.hor_nav ul li ul {
	opacity: 0;
	position: absolute;
	visibility:hidden;
	z-index:50;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background: $white;
	width: 215px;
}

.hor_nav ul li ul li {
	display: block;
	float:none;
	text-align: left;
	width: 100%;
	padding: 0;
	margin: 0;
	background: $white;
	height: 40px;
	line-height: 40px;
}

.hor_nav ul li ul li a:link, 
.hor_nav ul li ul li a:visited {
	display: block;
	width: 100%;
	font-size: 1.1em;
}

.hor_nav ul li ul li a:hover, 
.hor_nav ul li ul li a:active {
}

.hor_nav ul li:hover > ul {
	background: $white;
	opacity: 1;
	visibility: visible;
	margin: 0;
}

.hor_nav ul li ul li:hover > ul {
  margin-left: 35px;
  background: $white;
}

.hor_nav {
	display: none;
}


// MOBILE NAVIGATION DROPDOWN

#mobile-nav {
	position: absolute;
	display: none;
	left: 0;
	background: black;
	margin-top: 50px;
	width: 100%;
	z-index: 10000;
	line-height: 30px;
}

#mobile-nav ul {
	padding: 0;
}

#mobile-nav ul li {
	list-style: none;
}

#mobile-nav a:link,
#mobile-nav a:visited {
	color: $gray;
	text-decoration: none;
	font-size: 1.5em;
}

.trigger-nav {
	display: block;
	text-align: right;
}

.trigger-nav .icon {
	color: $white;
	font-size: 2.5em;
	background: #333333;
	line-height: 60px;
}


// HOME PAGE CENTERED TEXT BLOCK

.title-block {
  text-align: center;
  height: 60%;
  position: relative;
}

.va-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.va {
  display: table-cell;
}

.va-m {
  vertical-align: middle;
}

.va-m span {
	background: red;
}

.title-block h1 {
	color: $white;
	font-size: 3em;
	margin: 0;
	line-height: 45px;
	> img { height: 35px; }
}

.title-block h2 {
	color: $white;
	font-size: 1em;
	margin: 0;
}



// LARGE BUTTONS ON BOTTOM OF HOME PAGE ONLY

.main-buttons {
	position: absolute;
	bottom: 0;
	width: 100%;
}

div.main-buttons section.col-sm-6 {
	padding: 0;
}

.main-buttons a:link,
.main-buttons a:visited {
	display: block;
	height: 60px;
	color: $white;
	text-decoration: none;
	line-height: 60px;
	text-align: center;
	font-size: 1.2em;
	@include transition(.2s);
}

div.main-buttons section.col-sm-6:first-child a:link,
div.main-buttons section.col-sm-6:first-child a:visited {
	background: $blue;
}

div.main-buttons section.col-sm-6:first-child a:hover,
div.main-buttons section.col-sm-6:first-child a:active {
	background: $darkgray;
	color: $white;
}

div.main-buttons section.col-sm-6:last-child a:link,
div.main-buttons section.col-sm-6:last-child a:visited {
	background: $green;
}

div.main-buttons section.col-sm-6:last-child a:hover,
div.main-buttons section.col-sm-6:last-child a:active {
	background: $darkgray;
	color: $white;
}



























// SECONDARY PAGE STYLING (RESEARCHERS/CONSUMERS/BLOG)

.main {
	// background-color: $white;
}

.main .gray {
	background: rgba(220,220,220,.9);
}

.main .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.main h1 {
	font-size: 2em;
	line-height: 1em;
	margin: 10px 0;
	font-family: $raleway;
}

.main h2 {
	font-size: 1.6em;
	color: $darkgray;
	margin: 10px 0;
	font-family: $raleway;
}

.blue .main h1 {
	color: $blue;
}

.green .main h1 {
	color: $green;
}

.orange .main h1 {
	color: $orange;
}

.main p {
	color: #666666;
	font-size: 1.2em;
	line-height: 1.5em;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main .button:link,
.main .button:visited {
	display: inline-block;
	text-decoration: none;
	color: $white;
	padding: 15px 20px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 2.5px;
	@include transition(.3s);
}

.blue .main .button:link,
.blue .main .button:visited {
	background: $blue;
}

.blue .main .button:hover,
.blue .main .button:active {
	background: $white;
	color: $blue;
}

.green .main .button:link,
.green .main .button:visited {
	background: $green;
}

.green .main .button:hover,
.green .main .button:active {
	background: $white;
	color: $green;
}

.orange .main .button:link,
.orange .main .button:visited {
	background: $orange;
}

.orange .main .button:hover,
.orange .main .button:active {
	background: $white;
	color: $orange;
}

.blue .main .button-dark:link,
.blue .main .button-dark:visited,
.green .main .button-dark:link,
.green .main .button-dark:visited,
.orange .main .button-dark:link,
.orange .main .button-dark:visited {
	background: #111111;
}

.blue .main .button-dark:hover,
.blue .main .button-dark:active,
.green .main .button-dark:hover,
.green .main .button-dark:active,
.orange .main .button-dark:hover,
.orange .main .button-dark:active {
	background: $white;
	color: #111111;
}

.main .graybox {
	position: relative;
	background-color: $darkgray;
    background-image: linear-gradient(135deg, $darkgray, #111111);
    padding: 40px;
    margin-bottom: 10px;
}

.main .graybox img {
	display: block;
	height: 70px;
	margin-bottom: 40px;
}

.main .graybox h1 {
	text-align: center;
	font-size: 1.5em;
	font-family: $raleway;
}

.main .graybox h3 {
	color: $white;
	font-size: 1.3em;
	margin: 10px 0;
	font-family: $raleway;
}

.main .graybox ul li {
	color: $gray;
	font-size: 1.2em;
}

.main .graybox p {
	color: $gray;
	font-size: 1.1em;
	margin: 10px 0 40px 0;
}

.main .graybox-button.button:link,
.main .graybox-button.button:visited {
	margin-top: 0px;
}

.main .graybox a:link,
.main .graybox a:visited {
	position: absolute;
	display: block;
	text-align:right;
	bottom: 40px;
	right: 40px;
	font-size: 1.2em;
	text-decoration: none;
}

.blue .main .graybox a:link,
.blue .main .graybox a:visited {
	color: $blue;
}

.green .main .graybox a:link,
.green .main .graybox a:visited {
	color: $green;
}

.orange .main .graybox a:link,
.orange .main .graybox a:visited {
	color: $orange;
}

.green .main .graybox a:hover,
.green .main .graybox a:active,
.blue .main .graybox a:hover,
.blue .main .graybox a:active ,
.orange .main .graybox a:hover,
.orange .main .graybox a:active  {
	color: $white;
}

.videofilternav {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.videofilternav li {
	display: block;
	padding: 5px 20px;
	list-style: none;
}

.videofilternav li.current {
	color: $white;
	@include border-radius(20px);
}

.blue .videofilternav li.current {
	background: $blue;
}

.green .videofilternav li.current {
	background: $green;
}

.orange .videofilternav li.current {
	background: $orange;
}

.main .videofilternav li a:link,
.main .videofilternav li a:visited {
	font-size: 1.2em;
	color: #999999;
	text-decoration: none;
}

.blue .main .videofilternav li a:hover,
.blue .main .videofilternav li a:active {
	color: $blue;
}

.green .main .videofilternav li a:hover,
.green .main .videofilternav li a:active {
	color: $green;
}

.orange .main .videofilternav li a:hover,
.orange .main .videofilternav li a:active {
	color: $orange;
}

.main .videofilternav li.current a:link,
.main .videofilternav li.current a:visited {
	color: $white;
}

.main .videofilternav li.current a:hover,
.main .videofilternav li.current a:active {
	color: $gray;
}

.col-vimeo {

	// maintains aspect ratio, expands to fill whole column in bootstrap
	// cblack 20140621
	// with help from
	// http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio

	&:after {
		padding-top: percentage(9/16);
		display: block;
		content: '';
	}

	// or 4:3 aspect ratio
	&.ar-4x3:after {
		padding-top: percentage(3/4);
	}

	> .video-container {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: ($grid-gutter-width / 2);
		left: ($grid-gutter-width / 2);

		> iframe {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	// nogutter hack, match nogutter elements below
	&.nogutter > .video-container {
		right: 0;
		left: 0;
	}

}

.main .video-container img {
	width: 100%;
}

.main .video-container h3 {
	text-align: center;
	font-size: 1.4em;
}

.video-grid .col-vimeo {
	margin-bottom: $grid-gutter-width;
}

.blue .main .video-container h3 {
	color: $blue;
}

.green .main .video-container h3 {
	color: $green;
}

.orange .main .video-container h3 {
	color: $orange;
}

.main .video-container .videodescription {
	display: block;
	text-align: center;
}

.main .table td {
	padding: 20px;
	border: 1px solid #111111;
}

.main .table .twocolumn {
	width: 100%;
}

.main .table .twocolumn td {
	width: 50%;
}

.main .table tr:first-child {
	background: #111111;
	color: $white;
	font-size: 1.2em;
	text-align: center;
}

.image-grid img {
	width: 120px;
}

select.searchcritique {
	color: #e1e1e1;
	font-size: 1.2em;
	width: 100%;
	background: url(../2014/img/arrow-blue.png) no-repeat right 10px center;
	background-size: 7%;
	height: 35px;
	padding: 0 20px;
	@include appearance(none);
	@include border-radius(10px);
	border-color: $white;
	margin: 10px 0 10px 0;
}

.smalltext {
	display: block;
	margin: 20px 0;
}

.userform fieldset {
	border: none;
}

.userform ul {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.userform ul.nomobilemargin {
	margin-bottom: 0;
}

.userform ul li {
	list-style: none;
	padding: 5px 0;
	clear: both;
}

.userform label {
	float: left;
	line-height: 30px;
	font-size: 1.2em;
}

.userform span.inputwrapper {
	display: block;
	overflow: hidden;
    padding-left: 20px;
}

.userform span.inputwrapper input[type="text"],
.userform span.inputwrapper input[type="email"],
.userform span.inputwrapper input[type="number"] {
	width: 100%;
	height: 30px;
}

.userform input[type="date"] {
	height: 30px;
	margin-left: 20px;
}

.userform input[type="checkbox"] {
	line-height: 40px;
	display: inline-block;
	margin: 10px;
}

.userform .forgotpassword:link,
.userform .forgotpassword:visited {
	display: block;
	text-align: right;
}

.userform select {
	@include appearance(none);
	height: 30px;
	margin-left: 20px;
	@include border-radius(0px);
	width: 200px;
	padding-left: 10px;
}

.userform textarea {
	width: 100%;
	height: 100px;
}

.userform span.considermore {
	font-size: 1em;
	line-height: 40px;
}

.userform input[type="submit"] {
	float: right;
	height: 40px;
	@include appearance(none);
	border: none;
	color: $white;
	padding: 0 40px;
	@include transition(.3s);
}

.blue .userform input[type="submit"] {
	background: $blue;
}

.green .userform input[type="submit"] {
	background: $green;
}

.orange .userform input[type="submit"] {
	background: $orange;
}

.blue .userform input[type="submit"]:hover {
	background: $white;
	color: $blue;
}

.green .userform input[type="submit"]:hover {
	background: $white;
	color: $green;
}

.orange .userform input[type="submit"]:hover {
	background: $white;
	color: $orange;
}



#replace1,
#replace2,
#replace3,
#replace4,
#replace5,
#replace6,
#replace7,
#replace8,
#replace9,
#replace10,
#replace11,
#replace12,
#replace13 {
	cursor: pointer;
}

#replace1:hover,
#replace2:hover,
#replace3:hover,
#replace4:hover,
#replace5:hover,
#replace6:hover,
#replace7:hover,
#replace8:hover,
#replace9:hover,
#replace10:hover,
#replace11:hover,
#replace12:hover,
#replace13:hover {
	opacity: .9;
}

.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7,
.content8,
.content9,
.content10,
.content11,
.content12,
.content13 {
	display: none;
}

.display {
	display: block;
}

.main .full-width-image {
	width: 100%;
}







































// FOOTER STYLING/FOOTER NAVIGATION

footer {
	background: $footergray;
	padding-bottom: 50px;
}

footer h3,{
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 1.5em;
	margin-top: 50px;
}

.blue footer h3 {
	color: $blue;
}

.green footer h3 {
	color: $green;
}

.orange footer h3 {
	color: $orange;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li {
	list-style: none;
}

footer a:link,
footer a:visited {
	color: $white;
	text-decoration: none;
	font-size: 1.2em;
}

.blue footer a:hover,
.blue footer a:active {
	color: $blue;
}

.green footer a:hover,
.green footer a:active {
	color: $green;
}

.orange footer a:hover,
.orange footer a:active {
	color: $orange;
}



// COPYRIGHT BAR/SOCIAL ICONS

.copyright {
	background: $copyrightgray;
}

.copyright p {
	color: #a1a1a1;
	padding: 0;
	margin: 0;
	text-align: center;
}

.copyright p:first-child {
	margin-top: 15px;
}

.social-icons {
	float: none;
	padding: 0;
	nargin: 0;
	text-align: center;
}

.social-icons li {
	list-style: none;
	display: inline-block;
}

.social-icons li a:link,
.scoial-icons li a:visited {
	color: $white;
	background: $footergray;
	font-size: 2em;
	padding: 8px;
	text-decoration: none;
	@include transition(.2s);
}

.blue .social-icons li a:hover,
.blue .scoial-icons li a:visited {
	color: $blue;
}

.green .social-icons li a:hover,
.green .scoial-icons li a:active {
	color: $green;
}

.orange .social-icons li a:hover,
.orange .scoial-icons li a:active {
	color: $orange;
}



































//
//
//
// MEDIA QUERIES FOR LARGER THEN MOBILE SIZED SCREENS
// +768PX SCREENS
//
//
//



@media (min-width: 768px) {

	.display-mobile {
		display: none;
	}

	.home video {
		display: block;
	}

	.mobile-background {
		display: none;
	}

	.main-buttons a:link,
	.main-buttons a:visited {
		height: 80px;
		line-height: 80px;
		font-size: 1.4em;
	}

	.trigger-nav {
		display: none;
	}

	.hor_nav {
		display: block;
	}

	.title-block {
	  height: 80%;
	}

	.title-block h1 {
		font-size: 6em;
		line-height: 75px;
		> img { height: 65px; }
	}

	.title-block h2 {
		font-size: 2em;
	}

	.hor_nav ul li a:link, 
	.hor_nav ul li a:visited {
		font-size: 1.1em;
	}

	.hor_nav ul li ul li a:link,
	.hor_nav ul li ul li a:visited {
		font-size: .9em;
	}

	.hor_nav ul li ul {
		width: 170px;
	}

	.main h1 {
		font-size: 2.6em;
	}

	.main h2 {
		font-size: 2em;
	}

	.main p {
		font-size: 1.4em;
	}


























	.copyright p {
		text-align: left;
	}

	.social-icons {
		float: right;
	}

}


//
//
//
// + 992PX SCREENS
//
//
//


@media (min-width: 992px) {

	.main-buttons a:link,
	.main-buttons a:visited {
		height: 80px;
		line-height: 80px;
		font-size: 2em;
	}

	.hor_nav ul li a:link, 
	.hor_nav ul li a:visited {
		padding: 0 30px;
	}

	.title-block h1 {
		font-size: 10em;
		line-height: 125px;
		> img { height: 115px; }
	}

	.title-block h2 {
		font-size: 3.32em;
	}

	.hor_nav ul li a:link, 
	.hor_nav ul li a:visited {
		font-size: 1.2em;
	}

	.hor_nav ul li ul li a:link,
	.hor_nav ul li ul li a:visited {
		font-size: 1.1em;
	}

	.hor_nav ul li ul {
		width: 215px;
	}

	.nogutter {
		padding: 0;
	}

	.main .graybox.graybox-large {
	    margin-bottom: 0px;
	    min-height: 350px;
	}

	.main .graybox.graybox-small {
	    margin-bottom: 0px;
	    min-height: 250px;
	}

	.main .button:link, 
	.main .button:visited {
		font-size: 1.25em;
	}

	.videofilternav li {
		display: inline-block;
		padding: 5px 20.5px;
		list-style: none;
	}

	.userform input[type="submit"] {
		font-size: 1.25em;
	}

	.main .graybox h1 {
		font-size: 1.8em;
		margin-top: 30%;
	}














}


//
//
//
// + 1200PX SCREENS
//
//
//



@media (min-width: 1200px) {



	.hor_nav ul li a:link, 
	.hor_nav ul li a:visited {
		font-size: 1.3em;
	}

	.main .button:link, 
	.main .button:visited {
		font-size: 1.5em;
	}

	.main .bottom h3 {
		font-size: 1.9em;
	}

	.main .bottom a:link,
	.main .bottom a:visited {
		font-size: 1.5em;
		padding-top: 40px;
	}

	.videofilternav li {
		padding: 10px 33.3px;
	}

	.userform input[type="submit"] {
		font-size: 1.5em;
	}


}



// PROVIDED FONTS


@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url('../2014/fonts/SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../2014/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../2014/fonts/SourceSansPro/SourceSansPro-Semibold.ttf') format('truetype');
}


// ICON FONTS


@font-face {
	font-family: 'mindswarms';
	src:url('../2014/fonts/mindswarms.eot?-iuxb0p');
	src:url('../2014/fonts/mindswarms.eot?#iefix-iuxb0p') format('embedded-opentype'),
		url('../2014/fonts/mindswarms.woff?-iuxb0p') format('woff'),
		url('../2014/fonts/mindswarms.ttf?-iuxb0p') format('truetype'),
		url('../2014/fonts/mindswarms.svg?-iuxb0p#mindswarms') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'mindswarms';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
	content: "\e605";
}
.icon-rss:before {
	content: "\e600";
}
.icon-list:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-linkedin:before {
	content: "\e604";
}



// HOME PAGE HAS AN ALTERNATE FOOTER
.home footer, .home .copyright {
	display: none;
}

