.home video {
  display: block; }

.home video#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../2014/img/fpo/videobackground.jpg") no-repeat;
  background-size: cover; }

.home video {
  display: none; }

.mobile-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../2014/img/fpo/videobackground-mobile.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }

.display-mobile {
  display: block; }

.relative {
  position: relative; }

body.home, html {
  height: 100%; }

body {
  font-family: "SourceSansPro-Regular", sans-serif; }

body.blue .main,
body.green .main,
body.orange .main {
  background: white url("../2014/img/background.png") no-repeat;
  background-position: center bottom;
  background-size: 100%; }

header {
  background: black;
  line-height: 60px;
  height: 60px; }

header .main-logo {
  margin: 0;
  color: white; }

header a:link .main-logo,
header a:visited .main-logo {
  font-size: 2.5em;
  font-family: "SourceSansPro-Bold", sans-serif; }

header a:link,
header a:visited,
header a:hover,
header a:active {
  text-decoration: none; }

.hor_nav ul {
  margin: 0;
  padding: 0;
  float: right; }

.hor_nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
  height: 60px; }

.hor_nav ul li a:link,
.hor_nav ul li a:visited {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.hor_nav ul li.green a:hover,
.hor_nav ul li.green a:active {
  background: #afd741; }

.hor_nav ul li.blue a:hover,
.hor_nav ul li.blue a:active {
  background: #4bc8cd; }

.hor_nav ul li.blue a:hover,
.hor_nav ul li.blue a:active {
  background: #4bc8cd; }

.hor_nav ul li.signup a:link,
.hor_nav ul li.signup a:visited {
  background: #444444; }

.hor_nav ul li.signup a:hover,
.hor_nav ul li.signup a:active {
  background: #e1e1e1; }

.hor_nav ul li a:hover,
.hor_nav ul li a:active {
  background: #444444;
  color: black; }

.hor_nav ul li.blue:hover a {
  background: #4bc8cd; }

.hor_nav ul li.green:hover a {
  background: #afd741; }

.hor_nav ul li.orange:hover a {
  background: #f59128; }

.hor_nav ul li.blue:hover ul a {
  background: white;
  color: #444444; }

.hor_nav ul li.green:hover ul a {
  background: white;
  color: #444444; }

.hor_nav ul li.orange:hover ul a {
  background: white;
  color: #444444; }

.hor_nav ul li.blue ul a:hover {
  background: #4bc8cd; }

.hor_nav ul li.green ul a:hover {
  background: #afd741; }

.hor_nav ul li.orange ul a:hover {
  background: #f59128; }

.hor_nav ul li ul {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 50;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background: white;
  width: 215px; }

.hor_nav ul li ul li {
  display: block;
  float: none;
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
  height: 40px;
  line-height: 40px; }

.hor_nav ul li ul li a:link,
.hor_nav ul li ul li a:visited {
  display: block;
  width: 100%;
  font-size: 1.1em; }

.hor_nav ul li:hover > ul {
  background: white;
  opacity: 1;
  visibility: visible;
  margin: 0; }

.hor_nav ul li ul li:hover > ul {
  margin-left: 35px;
  background: white; }

.hor_nav {
  display: none; }

#mobile-nav {
  position: absolute;
  display: none;
  left: 0;
  background: black;
  margin-top: 50px;
  width: 100%;
  z-index: 10000;
  line-height: 30px; }

#mobile-nav ul {
  padding: 0; }

#mobile-nav ul li {
  list-style: none; }

#mobile-nav a:link,
#mobile-nav a:visited {
  color: #e1e1e1;
  text-decoration: none;
  font-size: 1.5em; }

.trigger-nav {
  display: block;
  text-align: right; }

.trigger-nav .icon {
  color: white;
  font-size: 2.5em;
  background: #333333;
  line-height: 60px; }

.title-block {
  text-align: center;
  height: 60%;
  position: relative; }

.va-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table; }

.va {
  display: table-cell; }

.va-m {
  vertical-align: middle; }

.va-m span {
  background: red; }

.title-block h1 {
  color: white;
  font-size: 3em;
  margin: 0;
  line-height: 45px; }
  .title-block h1 > img {
    height: 35px; }

.title-block h2 {
  color: white;
  font-size: 1em;
  margin: 0; }

.main-buttons {
  position: absolute;
  bottom: 0;
  width: 100%; }

div.main-buttons section.col-sm-6 {
  padding: 0; }

.main-buttons a:link,
.main-buttons a:visited {
  display: block;
  height: 60px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
  font-size: 1.2em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

div.main-buttons section.col-sm-6:first-child a:link,
div.main-buttons section.col-sm-6:first-child a:visited {
  background: #4bc8cd; }

div.main-buttons section.col-sm-6:first-child a:hover,
div.main-buttons section.col-sm-6:first-child a:active {
  background: #444444;
  color: white; }

div.main-buttons section.col-sm-6:last-child a:link,
div.main-buttons section.col-sm-6:last-child a:visited {
  background: #afd741; }

div.main-buttons section.col-sm-6:last-child a:hover,
div.main-buttons section.col-sm-6:last-child a:active {
  background: #444444;
  color: white; }

.main .gray {
  background: rgba(220, 220, 220, 0.9); }

.main .container {
  padding-top: 50px;
  padding-bottom: 50px; }

.main h1 {
  font-size: 2em;
  line-height: 1em;
  margin: 10px 0; }

.main h2 {
  font-size: 1.6em;
  color: #444444;
  margin: 10px 0; }

.blue .main h1 {
  color: #4bc8cd; }

.green .main h1 {
  color: #afd741; }

.orange .main h1 {
  color: #f59128; }

.main p {
  color: #666666;
  font-size: 1.2em;
  line-height: 1.5em;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px; }

.main .button:link,
.main .button:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2.5px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.blue .main .button:link,
.blue .main .button:visited {
  background: #4bc8cd; }

.blue .main .button:hover,
.blue .main .button:active {
  background: white;
  color: #4bc8cd; }

.green .main .button:link,
.green .main .button:visited {
  background: #afd741; }

.green .main .button:hover,
.green .main .button:active {
  background: white;
  color: #afd741; }

.orange .main .button:link,
.orange .main .button:visited {
  background: #f59128; }

.orange .main .button:hover,
.orange .main .button:active {
  background: white;
  color: #f59128; }

.blue .main .button-dark:link,
.blue .main .button-dark:visited,
.green .main .button-dark:link,
.green .main .button-dark:visited,
.orange .main .button-dark:link,
.orange .main .button-dark:visited {
  background: #111111; }

.blue .main .button-dark:hover,
.blue .main .button-dark:active,
.green .main .button-dark:hover,
.green .main .button-dark:active,
.orange .main .button-dark:hover,
.orange .main .button-dark:active {
  background: white;
  color: #111111; }

.main .graybox {
  position: relative;
  background-color: #444444;
  background-image: linear-gradient(135deg, #444444, #111111);
  padding: 40px;
  margin-bottom: 10px; }

.main .graybox img {
  display: block;
  height: 70px;
  margin-bottom: 40px; }

.main .graybox h1 {
  text-align: center;
  font-size: 1.5em; }

.main .graybox h3 {
  color: white;
  font-size: 1.3em;
  margin: 10px 0; }

.main .graybox p {
  color: #e1e1e1;
  font-size: 1.1em;
  margin: 10px 0 40px 0; }

.main .graybox-button.button:link,
.main .graybox-button.button:visited {
  margin-top: 0px; }

.main .graybox a:link,
.main .graybox a:visited {
  position: absolute;
  display: block;
  text-align: right;
  bottom: 40px;
  right: 40px;
  font-size: 1.2em;
  text-decoration: none; }

.blue .main .graybox a:link,
.blue .main .graybox a:visited {
  color: #4bc8cd; }

.green .main .graybox a:link,
.green .main .graybox a:visited {
  color: #afd741; }

.orange .main .graybox a:link,
.orange .main .graybox a:visited {
  color: #f59128; }

.green .main .graybox a:hover,
.green .main .graybox a:active,
.blue .main .graybox a:hover,
.blue .main .graybox a:active,
.orange .main .graybox a:hover,
.orange .main .graybox a:active {
  color: white; }

.videofilternav {
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }

.videofilternav li {
  display: block;
  padding: 5px 20px;
  list-style: none; }

.videofilternav li.current {
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

.blue .videofilternav li.current {
  background: #4bc8cd; }

.green .videofilternav li.current {
  background: #afd741; }

.orange .videofilternav li.current {
  background: #f59128; }

.main .videofilternav li a:link,
.main .videofilternav li a:visited {
  font-size: 1.2em;
  color: #999999;
  text-decoration: none; }

.blue .main .videofilternav li a:hover,
.blue .main .videofilternav li a:active {
  color: #4bc8cd; }

.green .main .videofilternav li a:hover,
.green .main .videofilternav li a:active {
  color: #afd741; }

.orange .main .videofilternav li a:hover,
.orange .main .videofilternav li a:active {
  color: #f59128; }

.main .videofilternav li.current a:link,
.main .videofilternav li.current a:visited {
  color: white; }

.main .videofilternav li.current a:hover,
.main .videofilternav li.current a:active {
  color: #e1e1e1; }

.main .video-container img {
  width: 100%; }

.main .video-container {
  margin-bottom: 30px; }

.main .video-container h3 {
  text-align: center;
  font-size: 1.4em; }

.blue .main .video-container h3 {
  color: #4bc8cd; }

.green .main .video-container h3 {
  color: #afd741; }

.orange .main .video-container h3 {
  color: #f59128; }

.main .video-container .videodescription {
  display: block;
  text-align: center; }

.main .table td {
  padding: 20px;
  border: 1px solid #111111; }

.main .table .twocolumn {
  width: 100%; }

.main .table .twocolumn td {
  width: 50%; }

.main .table tr:first-child {
  background: #111111;
  color: white;
  font-size: 1.2em;
  text-align: center; }

.image-grid img {
  width: 120px; }

select.searchcritique {
  color: #e1e1e1;
  font-size: 1.2em;
  width: 100%;
  background: url(../2014/img/arrow-blue.png) no-repeat right 10px center;
  background-size: 7%;
  height: 35px;
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-color: white;
  margin: 10px 0 10px 0; }

.smalltext {
  display: block;
  margin: 20px 0; }

.userform fieldset {
  border: none; }

.userform ul {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 50px; }

.userform ul li {
  list-style: none;
  padding: 5px 0;
  clear: both; }

.userform label {
  float: left;
  line-height: 30px;
  font-size: 1.2em; }

.userform span.inputwrapper {
  display: block;
  overflow: hidden;
  padding-left: 20px; }

.userform span.inputwrapper input[type="text"],
.userform span.inputwrapper input[type="email"],
.userform span.inputwrapper input[type="number"] {
  width: 100%;
  height: 30px; }

.userform input[type="date"] {
  height: 30px;
  margin-left: 20px; }

.userform select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 30px;
  margin-left: 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  width: 200px;
  padding-left: 10px; }

.userform textarea {
  width: 100%;
  height: 100px; }

.userform span.considermore {
  font-size: 1em;
  line-height: 40px; }

.userform input[type="submit"] {
  float: right;
  height: 40px;
  background: #4bc8cd;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  color: white;
  padding: 0 40px; }

#replace1,
#replace2,
#replace3,
#replace4,
#replace5,
#replace6,
#replace7,
#replace8,
#replace9,
#replace10,
#replace11,
#replace12,
#replace13 {
  cursor: pointer; }

#replace1:hover,
#replace2:hover,
#replace3:hover,
#replace4:hover,
#replace5:hover,
#replace6:hover,
#replace7:hover,
#replace8:hover,
#replace9:hover,
#replace10:hover,
#replace11:hover,
#replace12:hover,
#replace13:hover {
  opacity: .9; }

.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7,
.content8,
.content9,
.content10,
.content11,
.content12,
.content13 {
  display: none; }

.display {
  display: block; }

.main .full-width-image {
  width: 100%; }

footer {
  background: #434343;
  padding-bottom: 50px; }

footer h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  margin-top: 50px; }

.blue footer h3 {
  color: #4bc8cd; }

.green footer h3 {
  color: #afd741; }

.orange footer h3 {
  color: #f59128; }

footer ul {
  margin: 0;
  padding: 0; }

footer ul li {
  list-style: none; }

footer a:link,
footer a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.2em; }

.blue footer a:hover,
.blue footer a:active {
  color: #4bc8cd; }

.green footer a:hover,
.green footer a:active {
  color: #afd741; }

.orange footer a:hover,
.orange footer a:active {
  color: #f59128; }

.copyright {
  background: #4d4d4d; }

.copyright p {
  color: #a1a1a1;
  padding: 0;
  margin: 0;
  text-align: center; }

.copyright p:first-child {
  margin-top: 15px; }

.social-icons {
  float: none;
  padding: 0;
  nargin: 0;
  text-align: center; }

.social-icons li {
  list-style: none;
  display: inline-block; }

.social-icons li a:link,
.scoial-icons li a:visited {
  color: white;
  background: #434343;
  font-size: 2em;
  padding: 8px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.blue .social-icons li a:hover,
.blue .scoial-icons li a:visited {
  color: #4bc8cd; }

.green .social-icons li a:hover,
.green .scoial-icons li a:active {
  color: #afd741; }

.orange .social-icons li a:hover,
.orange .scoial-icons li a:active {
  color: #f59128; }

@media (min-width: 768px) {
  .display-mobile {
    display: none; }

  .home video {
    display: block; }

  .mobile-background {
    display: none; }

  .main-buttons a:link,
  .main-buttons a:visited {
    height: 80px;
    line-height: 80px;
    font-size: 1.4em; }

  .trigger-nav {
    display: none; }

  .hor_nav {
    display: block; }

  .title-block {
    height: 80%; }

  .title-block h1 {
    font-size: 6em;
    line-height: 75px; }
    .title-block h1 > img {
      height: 65px; }

  .title-block h2 {
    font-size: 2em; }

  .hor_nav ul li a:link,
  .hor_nav ul li a:visited {
    font-size: 1.1em; }

  .hor_nav ul li ul li a:link,
  .hor_nav ul li ul li a:visited {
    font-size: .9em; }

  .hor_nav ul li ul {
    width: 170px; }

  .main h1 {
    font-size: 2.6em; }

  .main h2 {
    font-size: 2em; }

  .main p {
    font-size: 1.4em; }

  .copyright p {
    text-align: left; }

  .social-icons {
    float: right; } }
@media (min-width: 992px) {
  .main-buttons a:link,
  .main-buttons a:visited {
    height: 80px;
    line-height: 80px;
    font-size: 2em; }

  .hor_nav ul li a:link,
  .hor_nav ul li a:visited {
    padding: 0 30px; }

  .title-block h1 {
    font-size: 10em;
    line-height: 125px; }
    .title-block h1 > img {
      height: 115px; }

  .title-block h2 {
    font-size: 3.32em; }

  .hor_nav ul li a:link,
  .hor_nav ul li a:visited {
    font-size: 1.2em; }

  .hor_nav ul li ul li a:link,
  .hor_nav ul li ul li a:visited {
    font-size: 1.1em; }

  .hor_nav ul li ul {
    width: 215px; }

  .nogutter {
    padding: 0; }

  .main .graybox.graybox-large {
    margin-bottom: 0px;
    min-height: 350px; }

  .main .graybox.graybox-small {
    margin-bottom: 0px;
    min-height: 250px; }

  .main .button:link,
  .main .button:visited {
    font-size: 1.25em; }

  .videofilternav li {
    display: inline-block;
    padding: 5px 20.5px;
    list-style: none; }

  .userform input[type="submit"] {
    font-size: 1.25em; }

  .main .graybox h1 {
    font-size: 1.8em;
    margin-top: 30%; } }
@media (min-width: 1200px) {
  .hor_nav ul li a:link,
  .hor_nav ul li a:visited {
    font-size: 1.3em; }

  .main .button:link,
  .main .button:visited {
    font-size: 1.5em; }

  .main .bottom h3 {
    font-size: 1.9em; }

  .main .bottom a:link,
  .main .bottom a:visited {
    font-size: 1.5em;
    padding-top: 40px; }

  .videofilternav li {
    padding: 10px 33.3px; }

  .userform input[type="submit"] {
    font-size: 1.5em; } }
@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url("../2014/fonts/SourceSansPro/SourceSansPro-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../2014/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../2014/fonts/SourceSansPro/SourceSansPro-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: 'mindswarms';
  src: url("../2014/fonts/mindswarms.eot?-iuxb0p");
  src: url("../2014/fonts/mindswarms.eot?#iefix-iuxb0p") format("embedded-opentype"), url("../2014/fonts/mindswarms.woff?-iuxb0p") format("woff"), url("../2014/fonts/mindswarms.ttf?-iuxb0p") format("truetype"), url("../2014/fonts/mindswarms.svg?-iuxb0p#mindswarms") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'mindswarms';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-checkmark:before {
  content: "\e605"; }

.icon-rss:before {
  content: "\e600"; }

.icon-list:before {
  content: "\e601"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-facebook:before {
  content: "\e603"; }

.icon-linkedin:before {
  content: "\e604"; }

.home footer, .home .copyright {
  display: none; }
